.mobx {
  .category {
    margin: 0.5rem 0;

    .subcategories {
      margin-left: 2rem;
      // border: black 0.25px solid;
    }
  }

  .summary,
  & > .list-actions {
    text-align: center;
  }
}
